/* 공통 */
*:focus-visible {
    outline: 2px dotted red;
    outline-offset: -2px;
}

.container {
    min-width: 1200px;
}

.stage {
    background-repeat: no-repeat;
    /* background-size: contain; */
    position: relative;
}

/* header */
.header-stage {
    width: 100%;
    height: 5rem;
    background-color: #fff;
    background-image: url(../images/common/header_tit.png);
    background-position: center;
    background-size: auto;
}

.header__links {
    position: relative;
    width: 574px;
    height: 37px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.haader__link {
    display: block;
    background-color: transparent;
    height: 30px;
    width: 30px;
    position: absolute;
}

.haader__link.daum {
    left: -5px;
    width: calc(70px + 10px);
    height: calc(30px + 10px);
    top: 0;
}

.haader__link.moe {
    left: 105px;
    width: 95px;
    top: 0;
    height: 36px;
}

/* quick-menu */
.quick-menu-stage {
    position: fixed;
    z-index: 9;
    top: 125px;
    right: 30px;
    width: 100px;
    height: 248px;
    background-image: url(../images/common/quick-menu_bg.png);
    background-repeat: no-repeat;
}

.quick-menu__lists {
    padding-top: 112px;
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    justify-content: center;
}

.quick-menu__icon {
    display: block;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    background-repeat: no-repeat;
}

.quick-menu__icon.youtube {
    background-image: url(../images/common/icon_youtube.png);
}

.quick-menu__icon.insta {
    background-image: url(../images/common/icon_insta.png);
}

.quick-menu__icon.blog {
    background-image: url(../images/common/icon_blog.png);
}

.quick-menu__icon.facebook {
    background-image: url(../images/common/icon_facebook.png);
}

.quick-menu__icon.kakao {
    background-image: url(../images/common/icon_kakaostory.png);
}

.quick-menu__icon.X {
    background-image: url(../images/common/icon_X.png);
}