@charset "UTF-8";

/* pretendard */
@font-face {
	font-family: 'pretendard';
	font-style: normal;
	font-weight: 700;
	src: local('pretendard Bold'),
		url('../font/Pretendard-Bold.woff') format('woff'),
		url('../font/Pretendard-Bold.woff2') format('woff2'),
		url('../font/Pretendard-Bold.otf') format('opentype'),
		url('../font/Pretendard-Bold.ttf') format('truetype');
}

@font-face {
	font-family: 'pretendard';
	font-style: normal;
	font-weight: 600;
	src: local('pretendard SemiBold'),
		url('../font/Pretendard-SemiBold.woff') format('woff'),
		url('../font/Pretendard-SemiBold.woff2') format('woff2'),
		url('../font/Pretendard-SemiBold.otf') format('opentype'),
		url('../font/Pretendard-SemiBold.ttf') format('truetype');
}

@font-face {
	font-family: 'pretendard';
	font-style: normal;
	font-weight: 500;
	src: local('pretendard Medium'),
		url('../font/Pretendard-Medium.woff') format('woff'),
		url('../font/Pretendard-Medium.woff2') format('woff2'),
		url('../font/Pretendard-Medium.otf') format('opentype'),
		url('../font/Pretendard-Medium.ttf') format('truetype');
}

@font-face {
	font-family: 'pretendard';
	font-style: normal;
	font-weight: 400;
	src: local('pretendard Regular'),
		url('../font/Pretendard-Regular.woff') format('woff'),
		url('../font/Pretendard-Regular.woff2') format('woff2'),
		url('../font/Pretendard-Regular.otf') format('opentype'),
		url('../font/Pretendard-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'pretendard';
	font-style: normal;
	font-weight: 300;
	src: local('pretendard Light'),
		url('../font/Pretendard-Light.woff') format('woff'),
		url('../font/Pretendard-Light.woff2') format('woff2'),
		url('../font/Pretendard-Light.otf') format('opentype'),
		url('../font/Pretendard-Light.ttf') format('truetype');
}