@charset "UTF-8";

/* 메인 비주얼 */
.main-stage {
    max-width: 1920px;
    margin: 0 auto;
    overflow: hidden;
    height: 903px;
    background-image: url(../images/component/main/main_visual.png);
    background-position: center;
}

.main__tit {
    width: 1157px;
    height: 180px;
    background-image: url(../images/component/main/main_tit.png);
    margin: 0 auto;
}

.main-wrapper {
    padding: 10px 0;
    width: 1150px;
    margin: 0 auto;
}

.semicircle {
    background-repeat: no-repeat;
    background-size: contain;
}

.main__semicircle {
    margin-top: 17px;
    width: 1153px;
    height: 578px;
    position: relative;
    z-index: 2;
}

.main__semicircle-border {
    background-image: url(../images/component/main/main_semicirecle-bg.png);
    width: 1153px;
    height: 578px;
    position: relative;
    z-index: 10;
}

/* .parts {} */

.part {
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    overflow: hidden;
}

.part::before {
    content: '';
    display: block;
    background-repeat: no-repeat;
    width: 1147px;
    height: 575px;
    position: absolute;
    z-index: 1;
    bottom: 1px;
    transition: .5s linear;
    transform-origin: center bottom;
}

.part>.sr-only.hide {
    visibility: hidden;
}

.part.show>.sr-only.hide {
    visibility: visible;
}

.part01 {
    background-image: url(../images/component/main/part01_on.png);
    width: 574px;
    height: 370px;
    bottom: 1px;
    left: 1px;   
}

.part01::before {
    background-image: url(../images/component/main/part01_off.png);
    left: 0;
    bottom: 0;
    transform: rotate(0deg);
}

.part01.show::before {
    transform: rotate(40deg);
}

.part01.hide::before {
    transform: rotate(0);
}

.part02 {
    background-image: url(../images/component/main/part02_on.png);
    width: 539px;
    height: 574px;
    bottom: 1px;
    left: 137px;
    z-index: 1;
}

.part02::before {
    background-image: url(../images/component/main/part02_off.png);
    left: -137px;
}

.part02.show::before {
    transform: rotate(60deg);
}

.part02.hide::before {
    transform: rotate(0deg);
    transition: .5s linear;
}

.part03 {
    background-image: url(../images/component/main/part03_on.png);
    width: 574px;
    height: 566px;
    right: 2px;
    bottom: 1px;
    z-index: 2;
}

.part03::before {
    background-image: url(../images/component/main/part03_off.png);
    right: 2px;
    transition: 1.5s linear;
}

.part03.show::before {
    transform: rotate(180deg);
}

.part03.hide::before {
    transform: rotate(0deg);
    transition: .8s linear;
}

.semicircle__small {
    position: absolute;
    transform: translate(-50%);
    background-size: contain;
}

.sub__semicircle {
    background-image: url(../images/component/main/sub_semicircle.png);
    width: 534px;
    height: 276px;
    bottom: 1px;
    z-index: 2;
    left: calc(50% + 2px);
}

.mini__semicircle {
    background-image: url(../images/component/main/mini_semicircle.png);
    width: 244px;
    height: 123px;
    bottom: 2px;
    z-index: 11;
    left: 50%;
}

.mini__semicircle-arrow {
    background-image: url(../images/component/main/main__semicircle-arrow.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 185px;
    height: 71px;
    position: absolute;
    bottom: -24px;
    z-index: 12;
    left: 425px;
    transform-origin: 154px 42px;
    transition: all 2s linear;
}

.semicircle__ctrl {
    margin-top: 15px;
    width: 1137px;
    height: 55px;
    position: relative;
}

.semicircle-ctrl-wrap {
    width: 100%;
    background-image: url(../images/component/main/cauge-bar-off.png);
}

.semicircle-ctrl__on {
    position: relative;
    z-index: 1;
    background-repeat: no-repeat;
    width: 0;
    height: 55px;
    background-image: url(../images/component/main/cauge-bar-on.png);
    transition: all 2s linear;
    visibility: hidden;
}

.semicircle-ctrl__on.active {
    width: 100%;
    visibility: visible;
}

.semicircle__ctrl-btn {
    position: absolute;
    width: 100px;
    height: 82px;
    cursor: pointer;
    z-index: 2;
    background-image: url(../images/component/main/cauge-bar-btn.png);
    background-repeat: no-repeat;
    background-position: center;
    top: -13px;
    left: 0;
    transition: all 2s linear;
}

.semicircle__ctrl-btn:focus-visible {
    transition: all 0s;
}

.semicircle__ctrl-btn::after {
    content: '';
    display: block;
    background-image: url(../images/common/hand.png);
    width: 73px;
    height: 86px;
    position: absolute;
    top: 20px;
    left: 70px;
    animation: 2s click_ani infinite linear forwards;
    transition: all .15s ease-in;
}

.deco-hide::after {
    opacity: 0;
    visibility: hidden;
}

.semicircle__ctrl-btn.active {
    left: initial;
    left: calc(100% - 100px);
}

.deco {
    position: absolute;
    background-repeat: no-repeat;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
}

.cloud__ani {
    animation-name: cloud-left_ani;
    animation-duration: 25s;
}

.cloud {
    background-image: url(../images/component/main/cloud01.png);
    background-size: contain;
}

.cloud1 {
    width: 215px;
    height: 69px;
    top: 305px;
    left: 103px;
    z-index: 2;
}

.cloud1>.book {
    top: -70px;
    left: 20px;
    width: 229px;
    height: 124px;
    background-image: url(../images/component/main/book.png);
    animation-name: book_ani;
    animation-duration: 1.3s;
}

.cloud2 {
    top: 185px;
    width: 116px;
    height: 37px;
    opacity: .9;
    animation-duration: 25s;
}

.cloud3 {
    top: 280px;
    left: 375px;
    width: 177px;
    height: 56px;
    opacity: .7;
    animation-duration: 20s;
}

.cloud4 {
    width: 220px;
    height: 70px;
    top: 240px;
    right: 0;
    opacity: .7;
    animation-duration: 20s;
    animation-name: cloud-right_ani;
}

.cloud5 {
    width: 143px;
    height: 46px;
    top: 335px;
    right: 257px;
}

.cloud5>.man {
    background-image: url(../images/component/main/man.png);
    width: 156px;
    height: 235px;
    top: -160px;
    left: 10px;
    animation-duration: 3s;
    animation-name: updown_ani;
}

.run {
    background-image: url(../images/component/main/run.png);
    width: 347px;
    height: 203px;
    top: 664px;
    left: 27px;
    animation-duration: 3s;
    animation-name: run_ani;
    animation-iteration-count: initial;
    z-index: 1;
}

.twist__ani {
    animation-name: twist_ani;
}

.people1 {
    background-image: url(../images/component/main/people01.png);
    width: 122px;
    height: 88px;
    top: 605px;
    left: 200px;
    animation-duration: 30s;
    animation-name: run-left_ani;
}

.people2 {
    background-image: url(../images/component/main/people02.png);
    width: 130px;
    height: 122px;
    top: 565px;
    right: 118px;
    animation-duration: 30s;
    animation-name: run-right_ani;
}

.people3 {
    background-image: url(../images/component/main/people03.png);
    width: 112px;
    height: 240px;
    top: 480px;
    left: 340px;
    animation-duration: 2s;
}

.people4 {
    background-image: url(../images/component/main/people04.png);
    width: 140px;
    height: 246px;
    top: 490px;
    right: 295px;
    animation-name: find_ani;
    animation-duration: 3s;
}

.people5 {
    background-image: url(../images/component/main/people05.png);
    width: 309px;
    height: 227px;
    top: 655px;
    right: 67px;
    animation-duration: 3s;
}

.deco.scroll {
    background-image: url(../images/component/main/scroll.png);
    width: 48px;
    height: 66px;
    right: 60px;
    top: 400px;
    animation-duration: 1s;
    animation-name: scroll_ani;
}

/* animation */
@keyframes book_ani {
    0% {
        top: -70px;
        transform: rotate(3deg);
    }

    50% {
        top: -80px;
        transform: rotate(0deg);
    }

    100% {
        top: -70px;
        transform: rotate(3deg);
    }
}

@keyframes cloud-left_ani {
    0% {
        left: -116px;
    }

    80% {
        left: 400px;
    }

    100% {
        left: 500px;
        opacity: 0;
    }
}

@keyframes cloud-right_ani {
    0% {
        right: -220px;
    }

    80% {
        right: 400px;
    }

    100% {
        right: 500px;
        opacity: 0;
    }
}

@keyframes run-left_ani {
    0% {
        left: -112px;
    }

    100% {
        left: 2000px;
    }
}

@keyframes run-right_ani {
    0% {
        right: -143px;
    }

    100% {
        right: 2000px;
    }
}

@keyframes run_ani {
    0% {
        left: -347px;
    }

    100% {
        left: 27px;
    }
}

@keyframes twist_ani {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(-2deg);
    }

    50% {
        transform: rotate(0deg);
    }

    75% {
        transform: rotate(2deg);
    }

    100% {
        transform: rotate(0deg);
    }

}

@keyframes find_ani {
    0% {
        transform: rotate(-5deg);
    }

    40% {
        transform: rotate(-10deg);
    }

    80% {
        transform: rotate(-10deg);
    }

    100% {
        transform: rotate(-5deg);
    }
}

@keyframes updown_ani {
    0% {
        top: -160px;
    }
    50% {
        top: -190px;
    }
    100% {
        top: -160px;
    }
}

@keyframes click_ani {
    0%{
        left: 70px;
    }
    50%{
        left: 170px;
    }
    100%{
        left: 70px;
    }
}

@keyframes scroll_ani {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        top: 450px;
    }
}


/* 카드뉴스 */
.card-news-stage {
    background-image: url(../images/component/cardNews/cardnews_bg.png);
    height: 1130px;
    position: relative;
    top: -1px;
    max-width: 1920px;
    background-position: center;
    margin: 0 auto;
}

.stage__tit {
    text-align: center;
}

.card-news__tit {
    padding-top: 155px;
}

.card-news__tit > img {
    min-width: 847px;
}

.card-news-pop__lists {
    padding-top: 85px;
    display: flex;
    flex-wrap: wrap;
    gap: 24px 20px;
    max-width: 1400px;
    margin: 0 auto;
}

.card-news-pop__list {
    flex: 1 1 calc(25% - 20px*3/4);
    width: 100%;
    max-width: calc(25% - 20px*3/4);
}

.card-news-pop__btn {
    cursor: pointer;
    width: 335px;
    height: 335px;
    position: relative;
    border-radius: 30px;
    overflow: hidden;
}

.card-news-pop__btn::after {
    content: '';
    display: block;
    background-image: url(../images/component/cardNews/card-news-pop__btn-deco.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 46px;
    height: 46px;
    border-radius: 50%;
    position: absolute;
    z-index: 1;
    right: 10px;
    bottom: 10px;
    transition: all .15s ease-in;
}

.card-news-pop__btn:hover:after {
    right: 15px;
    bottom: 15px;
    scale: 1.1;
}

.card-news__swriper {
    overflow: hidden;
    box-sizing: border-box;
    border: 3px solid #000;
}

/* 동영상 */
.youtube-stage {
    background-image: url(../images/component/youtube/youtube_bg.png);
    height: 1510px;
}

.youtube-wrapper {
    width: 1400px;
    margin: 0 auto;
}

.youtube__tit {
    padding-top: 125px;
}

.youtube__lists {
    margin-top: 85px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.youtube-pop__btn {
    overflow: hidden;
    cursor: pointer;
    border-radius: 30px;
    position: relative;
}

.youtube-pop__btn::after {
    content: '';
    display: block;
    background-image: url(../images/component/youtube/youtube_deco.png);
    width: 74px;
    height: 74px;
    position: absolute;
    z-index: 1;
    top: calc(50% - 30px);
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all .15s ease-in;
}

.youtube-pop__btn:hover::after {
    scale: 1.1;
}