$img-base-path: "../images/component";
$img-main-path: $img-base-path + "/main/";
$img-card-path: $img-base-path + "/cardNews/";
$img-event-path: $img-base-path + "/event/";
$img-step-path: $img-base-path + "/step/";
$img-yutub-path: $img-base-path + "/youtube/";

/* 메인 비주얼 */
.main {
    &-stage {
        @include size($maxW: 1920px, $h:903px);
        margin: 0 auto;
        overflow: hidden;
        background-image: url(#{$img-main-path}main_visual.png);
        background-position: center;
    }

    &-wrapper {
        padding: 10px 0;
        width: 1150px;
        margin: 0 auto;
    }

    &__semicircle {
        margin-top: 17px;
        @include size($w:1153px, $h:578px);
        @include position($p: relative, $z: 2);

        &-border {
            background-image: url(#{$img-main-path}main_semicirecle-bg.png);
            @include size($w:1153px, $h:578px);
            @include position($p: relative, $z: 10);
        }
    }
}

.semicircle {
    background-repeat: no-repeat;
    background-size: contain;

    &__small {
        position: absolute;
        transform: translate(-50%);
        background-size: contain;
    }

    &__ctrl {
        margin-top: 15px;
        @include size($w:1137px, $h:55px);
        position: relative;

        &-btn {
            @include position($p, $t: -13px, $l :0, $z: 2);
            @include size($w:100px, $h:82px);
            cursor: pointer;
            background-image: url(#{$img-main-path}cauge-bar-btn.png);
            background-repeat: no-repeat;
            background-position: center;
            transition: all 2s linear;

            &:focus-visible {
                transition: all 0s;
            }

            &::after {
                content: '';
                display: block;
                background-image: url(../images/common/hand.png);
                @include size($w:73px, $h:86px);
                @include position($p, $t: 20px, $l: 70px);
                animation: 2s click_ani infinite linear forwards;
                transition: $transition;
            }

            &.active {
                left: calc(100% - 100px);
            }
        }
    }

    &-ctrl__on {
        @include position($p: relative, $z: 1);
        @include size($w:0, $h:55px);
        background-repeat: no-repeat;
        background-image: url(#{$img-main-path}cauge-bar-on.png);
        transition: all 2s linear;
        visibility: hidden;

        &.active {
            width: 100%;
            visibility: visible;
        }
    }

    &-ctrl-wrap {
        width: 100%;
        background-image: url(#{$img-main-path}cauge-bar-off.png);
    }
}

.sub__semicircle {
    background-image: url(#{$img-main-path}sub_semicircle.png);
    @include size($w:534px, $h:276px);
    @include position($z: 2, $b: 1px, $l: calc(50% + 2px));
}

.mini__semicircle {
    background-image: url(#{$img-main-path}mini_semicircle.png);
    @include size($w:244px, $h:123px);
    @include position($z: 11, $b: 2px, $l);

    &-arrow {
        background-image: url(#{$img-main-path}main__semicircle-arrow.png);
        background-repeat: no-repeat;
        background-size: contain;
        @include size($w:185px, $h:71px);
        @include position($p, $b: -24px, $l: 425px, $z: 12);
        transform-origin: 154px 42px;
        transition: all 2s linear;
    }
}

.part {
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    overflow: hidden;

    &::before {
        content: '';
        display: block;
        background-repeat: no-repeat;
        @include size($w:1147px, $h:575px);
        @include position($p, $z: 1, $b: 1px);
        transition: .5s linear;
        transform-origin: center bottom;
    }

    &>.sr-only.hide {
        visibility: hidden;
    }

    &.show>.sr-only.hide {
        visibility: visible;
    }

    &01 {
        @include size($w:574px, $h:370px);
        @include position($l: 1px, $b: 1px);

        &::before {
            @include position($l: 0, $b: 0);
            transform: rotate(0deg);
        }

        &.show::before {
            transform: rotate(40deg);
        }

        &.hide::before {
            transform: rotate(0);
        }
    }

    &02 {
        @include size($w:537px, $h:574px);
        @include position($l: 137px, $b: 1px, $z: 1);

        &::before {
            left: -137px;
        }

        &.show::before {
            transform: rotate(60deg);
        }

        &.hide::before {
            transform: rotate(0deg);
            transition: .5s linear;
        }
    }

    &03 {
        @include size($w:574px, $h:566px);
        @include position($r: 2px, $b: 1px, $z: 2);

        &::before {
            right: 2px;
            transition: 1.5s linear;
        }

        &.show::before {
            transform: rotate(180deg);
        }

        &.hide::before {
            transform: rotate(0deg);
            transition: .8s linear;
        }
    }

}

@for $i from 1 through 3 {
    .part#{$i} {
        background-image: url(#{$img-main-path}part#{$i}_on.png);

        &::before {
            background-image: url(#{$img-main-path}part#{$i}_off.png);
        }
    }
}

.deco {
    position: absolute;
    background-repeat: no-repeat;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;

    &.scroll {
        background-image: url(#{$img-main-path}scroll.png);
        @include size($w:48px, $h:66px);
        @include position($r: 60px, $t: 400px);
        animation-duration: 1s;
        animation-name: scroll_ani;
    }

    &-hide::after {
        @include hidden;
    }
}

.cloud {
    background-image: url(#{$img-main-path}cloud01.png);
    background-size: contain;

    &__ani {
        animation-name: cloud-left_ani;
        animation-duration: 25s;
    }

    &1 {
        @include size($w:215px, $h:69px);
        @include position($l: 103px, $t: 305px, $z: 2);

        &>.book {
            @include position($l: 20px, $t: -70px);
            @include size($w:229px, $h:124px);
            background-image: url(#{$img-main-path}book.png);
            animation-name: book_ani;
            animation-duration: 1.3s;
        }
    }

    &2 {
        @include size($w:116px, $h:37px);
        top: 185px;
        opacity: .9;
        animation-duration: 25s;
    }

    &3 {
        @include position($l: 375px, $t: 280px);
        @include size($w:177px, $h:56px);
        opacity: .7;
        animation-duration: 20s;
    }

    &4 {
        @include size($w:220px, $h:70px);
        @include position($t: 240px, $r: 0);
        opacity: .7;
        animation-duration: 20s;
        animation-name: cloud-right_ani;
    }

    &5 {
        @include size($w:143px, $h:46px);
        @include position($t: 335px, $r: 257px);

        &>.man {
            background-image: url(#{$img-main-path}man.png);
            @include size($w:156px, $h:235px);
            @include position($t: -106px, $l: 10px);
            animation-duration: 3s;
            animation-name: updown_ani;
        }
    }
}

.run {
    background-image: url(#{$img-main-path}run.png);
    @include size($w:347px, $h:203px);
    @include position($l: 27px, $t: 664px,$z:1);
    animation-duration: 3s;
    animation-name: run_ani;
    animation-iteration-count: initial;
}

.twist__ani {
    animation-name: twist_ani;
}

.people {
    &1 {
        @include size($w:112px, $h:99px);
        @include position($t: 605px, $l: 200px);
        animation-duration: 30s;
        animation-name: run-left_ani;
    }

    &2 {
        @include size($w:130px, $h: 122px);
        @include position($t: 565px, $l: 118px);
        animation-duration: 30s;
        animation-name: run-right_ani;
    }

    &3 {
        @include size($w:112px, $h:240px);
        @include position($t: 408px, $l: 340px);
        animation-duration: 2s;
    }

    &4 {
        @include size($w:140px, $h:246px);
        @include position($t: 490px, $r: 295px);
        animation-name: find_ani;
        animation-duration: 3s;
    }

    &5 {
        @include size($w:309px, $h:227px);
        @include position($t: 655px, $r: 67px);
        animation-duration: 3s;
    }
}

@for $i from 1 through 5 {
    .people#{i} {
        background-image: url(#{$img-main-path}people0#{i}.png);
    }
}

/* animation */
@keyframes book_ani {
    0% {
        top: -70px;
        transform: rotate(3deg);
    }

    50% {
        top: -80px;
        transform: rotate(0deg);
    }

    100% {
        top: -70px;
        transform: rotate(3deg);
    }
}

@keyframes cloud-left_ani {
    0% {
        left: -116px;
    }

    80% {
        left: 400px;
    }

    100% {
        left: 500px;
        opacity: 0;
    }
}

@keyframes cloud-right_ani {
    0% {
        right: -220px;
    }

    80% {
        right: 400px;
    }

    100% {
        right: 500px;
        opacity: 0;
    }
}

@keyframes run-left_ani {
    0% {
        left: -112px;
    }

    100% {
        left: 2000px;
    }
}

@keyframes run-right_ani {
    0% {
        right: -143px;
    }

    100% {
        right: 2000px;
    }
}

@keyframes run_ani {
    0% {
        left: -347px;
    }

    100% {
        left: 27px;
    }
}

@keyframes twist_ani {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(-2deg);
    }

    50% {
        transform: rotate(0deg);
    }

    75% {
        transform: rotate(2deg);
    }

    100% {
        transform: rotate(0deg);
    }

}

@keyframes find_ani {
    0% {
        transform: rotate(-5deg);
    }

    40% {
        transform: rotate(-10deg);
    }

    80% {
        transform: rotate(-10deg);
    }

    100% {
        transform: rotate(-5deg);
    }
}

@keyframes updown_ani {
    0% {
        top: -160px;
    }

    50% {
        top: -190px;
    }

    100% {
        top: -160px;
    }
}

@keyframes click_ani {
    0% {
        left: 70px;
    }

    50% {
        left: 170px;
    }

    100% {
        left: 70px;
    }
}

@keyframes scroll_ani {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        top: 450px;
    }
}

/* 카드뉴스 */
.card-news {
    &-stage {
        background-image: url(#{$img-card-path}cardnews_bg.png);
        @include size($maxW:1920px, $h:1130px);
        @include position($p: relative, $t: -1px);
        background-position: center;
        margin: 0 auto;
    }

    &__tit {
        padding-top: 155px;

        &>img {
            min-width: 847px;
        }
    }

    &__swriper {
        overflow: hidden;
        box-sizing: border-box;
        border: 3px solid #000;
    }

    &-pop {
        &__lists {
            padding-top: 85px;
            @include display($d, $g: 24px 20px);
            flex-wrap: wrap;
            max-width: 1400px;
            margin: 0 auto;
        }

        &__list {
            flex: 1 1 calc(25% - 20px*3/4);
            @include size($w:100%, $maxW:calc(25% - 20px*3/4));
        }

        &__btn {
            cursor: pointer;
            @include size($w:335px, $h:335px);
            position: relative;
            border-radius: 30px;
            overflow: hidden;

            &::after {
                content: '';
                display: block;
                background-image: url(#{img-card-path}card-news-pop__btn-deco.png);
                background-size: contain;
                background-repeat: no-repeat;
                @include size($w:46px, $h:46px);
                border-radius: 50%;
                @include position($p, $b: 10px, $r: 10px, $z: 1);
                transition: $transition;
            }

            &:hover::after {
                @include position($b: 15px, $r: 15px);
                scale: 1.1;
            }
        }
    }

    &__popup {
        box-sizing: border-box;
        width: 640px;

        &>.popup__head {
            border-radius: 30px 30px 0 0;
            height: 80px;
            background-color: $color-yellow;
        }

        &>.popup__body {
            background-color: #fff;
            padding: 20px;
        }

        & .popup__img {
            @include size($maxW:600px, $h:600px);
        }

        & .popup__footer {
            border-radius: 0 0 30px 30px;
            @include position($p: relative, $t: -1px);
            padding: 0 2rem 2rem;
            background-color: #fff;
        }
    }
}

/* 동영상 */
.youtube {
    &-stage {
        background-image: url(#{$img-yutub-path}youtube_bg.png);
        height: 1510px;
    }

    &-wrapper {
        width: 1400px;
        margin: 0 auto;
    }

    &__tit {
        padding-top: 125px;
    }

    &__lists {
        margin-top: 85px;
        @include display($d, $g: 20px);
        gap: 20px;
    }

    &-pop__btn {
        overflow: hidden;
        cursor: pointer;
        border-radius: 30px;
        position: relative;

        &::after {
            content: '';
            display: block;
            background-image: url(#{$img-yutub-path}youtube_deco.png);
            @include size($w:74px, $h:74px);
            @include position($p, $t: calc(50% - 30px), $l, $z: 1);
            transform: translate(-50%, -50%);
            transition: $transition;
        }

        &:hover::after {
            scale: 1.1;
        }
    }

    &__popup {
        width: 940px;

        & .popup__head {
            padding-top: 20px;
            background-color: $color-yellow;
            border-radius: 20px 20px 0 0;
        }

        & .popup__body {
            padding: 0 20px 20px;
            border-radius: 0 0 20px 20px;
            background-color: $color-yellow;
        }

        & .video-stage {
            border-radius: 15px;
            overflow: hidden;
        }
    }
}

/* 이벤트 */
.event {
    &-stage {
        background-image: url(#{$img-event-path}event_bg.png);
        height: 1736px;
    }

    &-wrapper {
        width: 1320px;
        margin: 0 auto;
        padding: 0 20px;
        box-sizing: border-box;
    }

    &__tit {
        padding-top: 120px;
    }

    &__present {
        padding: 45px 15px;
        @include display($d, $jc, $ai);
    }

    &__content {
        @include size($w:100%, $h:840px);
        background-image: url(#{$img-event-path}event_content-wrap.png);
        background-repeat: no-repeat;
        box-sizing: border-box;
        padding: 118px 75px 0 70px;
        @include display($d, $jc);
        position: relative;

        &::after {
            content: '';
            display: block;
            background-image: url(#{$img-event-path}event__content-deco.png);
            @include size($w:480px, $h:324px);
            @include position($p, $b: 17px, $l);
            transform: translateX(-50%);
        }
    }

    &-keyword {
        &__btn {
            background-repeat: no-repeat;
            @include size($w:343px, $h:94px);
            border-radius: 94px;
            cursor: pointer;
            @include position($p: relative, $z: 1);
            transition: $transition;
            animation-timing-function: linear;
            animation-duration: 1s;
            animation-fill-mode: forwards;

            &::before,
            &::after {
                content: '';
                display: block;
                background-repeat: no-repeat;
                position: absolute;
               @include hidden;
                transition: $transition;
            }

            &::before {
                background-image: url(../images/common/hand.png);
                @include size($w:73px, $h: 86px);
                @include position($t: 20px, $r: 0, $z: 1);
                animation-timing-function: linear;
                animation-iteration-count: infinite;
                animation-fill-mode: forwards;
                animation-duration: 2s;
            }

            &.move::before,
            &.on::before {
                visibility: hidden !important;
                opacity: 0 !important;
            }

            &::after {
                background-image: url(#{$img-event-path}deco-check.png);
                @include size($w: 84px, $h: 68px);
                @include position($t: 0, $r: -14px);
            }

            &.on::after {
                @include visible;
            }

            &01 {
                &.move {
                    z-index: 2;
                }
            }
        }

        &__lists {
            &:not(:has(.move)) .keyword__btn01::before {
                @include visible;
                animation-name: keyword01;
            }

            &:has(.keyword__btn01.on) .keyword__btn02::before {
                @include visible;
                animation-name: keyword02;
            }

            &:has(.keyword__btn02.on) .keyword__btn03::before {
                @include visible;
                animation-name: keyword03;
            }

            &:has(.keyword__btn03.on) .keyword__btn04::before {
                @include visible;
                animation-name: keyword04;
            }
        }

        &__list {
            &+.event-keyword__list {
                padding-top: 37px;
            }
        }

    }

    &01__popup .popup__footer {
        height: 70px;
        margin-top: 20px;
        text-align: center;

        & .popup__close {
            background-image: url(#{$img-event-path}event01-popup__close.png);
            background-repeat: no-repeat;
            background-size: contain;
            @include size($w:253px, $h:70px);
            @include position($p: relative, $t: 0, $r: 0);
            margin: 0 auto;
            border-radius: 70px;

            &::before {
                @include position($t: 20px, $r: 0, $l: initial);
                transition: $transition;
                transform: initial;
            }

            &::after {
                display: none;
            }
        }
    }

}

@keyframes btn01_move {
    0% {
        @include position($t: 0, $l: 0);
    }

    100% {
        @include position($t: 282px, $l: 624px);
    }
}

@keyframes btn02_move {
    0% {
        @include position($t: 0, $l: 0);
    }

    100% {
        @include position($t: 150px, $l: 624px);
    }
}

@keyframes btn03_move {
    0% {
        @include position($t: 0, $l: 0);
    }

    100% {
        @include position($t: 18px, $l: 624px);
    }
}

@keyframes btn04_move {
    0% {
        @include position($t: 0, $l: 0);
    }

    100% {
        @include position($t: -144px, $l: 624px);
    }
}

@for $i from 1 through 4 {
    .event-keyword__btn0#{i} {
        background-image: url(#{$img-event-path}keyword__btn0#{i}-off.png);

        &.on {
            background-image: url(#{$img-event-path}keyword__btn#{i}-on.png);
        }

        &.move {
            animation-name: btn#{i}_move;
        }
    }
}

@keyframes keyword01 {
    0% {
        @include position($t: 0, $r: 0);
    }

    100% {
        @include position($t: 300px, $r: -500px);
    }
}

@keyframes keyword02 {
    0% {
        @include position($t: 0, $r: 0);
    }

    100% {
        @include position($t: 200px, $r: -500px);
    }
}

@keyframes keyword03 {
    0% {
        @include position($t: 0, $r: 0);
    }

    100% {
        @include position($t: 50px, $r: -500px);
    }
}

@keyframes keyword04 {
    0% {
        @include position($t: 0, $r: 0);
    }

    100% {
        @include position($t: -80px, $r: -500px);
    }
}

.event-drop-wrap {
    background-image: url(#{$img-event-path}event-drop-wrap.png);
    background-repeat: no-repeat;
    @include size($w: 680px, $h: 481px);
    position: relative;
}

.drop__zone {
    background-image: url(#{$img-event-path}drop_zone.png);
    background-repeat: no-repeat;
    @include size($w: 343px, $h: 94px);
    border-radius: 94px;
    @include position($p, $b: 105px, $l);
    transform: translateX(-50%);
}

@keyframes zoomClick {
    0% {
        scale: 1;
    }

    50% {
        scale: 1.1;
    }

    100% {
        scale: 1;
    }
}

/* 이벤트2 */
.step {
    &-stage {
        background-image: url(#{$img-step-path}step_bg.png);
        height: 2340px;
    }

    &-wrapper {
        margin: 0 auto;
        width: 1400px;
        text-align: center;
        padding-top: 125px;
    }

    &__tit {
        padding-top: 120px;
    }
}

.life-cycle {
    &__lists {
        margin-top: 120px;
        background-image: url(#{$img-step-path}life_road.png);
        background-repeat: no-repeat;
        height: 1020px;
        background-size: contain;
        display: flex;
        flex-wrap: wrap;
    }

    &__list {
        flex: 1 1 50%;
        height: 130px;
        position: relative;
    }

    &:not(:first-child)::before {
        content: '';
        display: block;
        background-image: url(#{$img-step-path}life-purpose.png);
        @include size($w:291px, $h:147px);
        @include position($p, $b: 60px, );
        transition: $transition;
    }

    &.step {
        &01 {
            & .life-cycle__deco {
                background-image: url(#{$img-step-path}life-ani-1.png);
                @include size($w:205px, $h: 203px);
                @include position($b: 70px, $l: 300px);
            }

            &:has(.on) .life-cycle__deco {
                animation-name: life-cycle-ani-1;
            }
        }

        &02::before {
            left: 465px;
        }

        &03 {
            & .life-cycle__deco {
                @include size($w: 275px, $h:252px);;
                @include position($b: 300px, $r: -100px);
            }

            &::before {
                left: 715px;
            }

            & .life-cycle__btns {
                @include position($b: -80px, $r: -110px);
            }
        }

        &04 {
            &::before {
                left: 230px;
            }

            & .life-cycle__btns {
                left: -255px;
            }

            & .life-cycle__deco {
                @include size($w:340px, $h:254px);
                @include position($b: 340px, $l: 95px);
            }

        }

        &05 {
            & .life-cycle__deco {
                @include size($w:340px, $h:232px);
                @include position($b: 70px, $l: -470px);
            }

            &::before {
                left: 400px;
            }
        }

        &06 {
            &::before {
                left: 685px;
            }

            & .life-cycle__deco {
                @include size($w:348px, $h:324px);
                @include position($b: 300px, $r: 0);
            }
        }
    }

    &:nth-child(3n) {
        flex: 1 1 100%;
    }

    &__item {
        background-repeat: no-repeat;
        background-size: contain;
        position: relative;

        &.start {
            background-image: url(#{$img-step-path}life_start.png);
            @include size($w:388px, $h:202px);
            top: -65px;

            &::before,
            &::after {
                content: '';
                display: block;
                background-repeat: no-repeat;
                background-size: contain;
                @include position($p, $z: 1);
            }

            &::before {
                background-image: url(#{$img-step-path}life-deco-wood.png);
                @include size($w:170px, $h:68px);
                @include position($b: -5px, $r: -60px);
            }

            &::after {
                background-image: url(#{$img-step-path}life-deco-zoom.png);
                @include size($w:104px, $h:136px);
                @include position($b: -40px, $r: 30px);
            }
        }
    }

    &__btn {
        @include size($w:203px, $h:70px);
        background-repeat: no-repeat;
        background-size: contain;
        border-radius: 70px;
        cursor: pointer;
        position: relative;
        transition: $transition;

        &s {
            @include position($p: relative, $b: -68px);
            @include hidden;
        }

        &.on {
            @include hidden;
        }

        &::after {
            content: '';
            @include position($t: 20px, $r: -20px);
        }

        &.start {
            background-image: url(#{$img-step-path}btn_start.png);
            @include position($p, $b: -90px, $l: 70px);
        }
    }

    &__deco {
        background-size: contain;
        transition: $transition;
        animation-iteration-count: 1;
        @include hidden;
    }

    &-pop__btn {
        border-radius: 88px;
        cursor: pointer;
        border-radius: 90px;
    }

    &__tit {
        display: none;
    }
}

@for $i from 2 through 6 {
    $image-index: $i - 1;

    .life-cycle.active.step0#{$i}::before {
        background-image: url(#{$img-step-path}life-purpose-#{$image-index}.png);
    }

    .life-cycle.step0#{i} .life-cycle__deco {
        background-image: url(#{$img-step-path}life-ani-#{i}.png);

        &.move .life-cycle__deco {
            animation-name: life-cycle-ani-#{i};
        }
    }
}

.on+.life-cycle__deco {
    animation-duration: 1.5s;
    @include visible;
}

.move .life-cycle__deco {
    animation-duration: 2s;
    @include visible;
}

@keyframes life-cycle-ani-1 {
    0% {
        left: 330px;
    }

    100% {
        left: 940px;
    }
}

@keyframes life-cycle-ani-2 {
    0% {
        @include position($b: 300px, $r: -100px);
    }

    25% {
        @include position($b: 50px, $r: -100px);
    }

    100% {
        @include position($b: 55px, $r: 690px);
    }
}

@keyframes life-cycle-ani-3 {
    0% {
        @include position($b: 340px, $l: 95px);
    }

    50% {
        background-image: url(#{$img-step-path}life-ani-3.png);
        @include position($b: 200px, $l: -195px);
    }

    100% {
        background-image: url(#{$img-step-path}life-ani-3.png);
        @include position($b: 70px, $l: -95px);
    }
}

@keyframes life-cycle-ani-4 {
    0% {
        left: -470px;
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        left: 50px;
    }
}

@keyframes life-cycle-ani-5 {
    0% {
        @include position($b: 300px, $r: 0);
    }

    30% {
        @include position($b: 50px, $r: 0);
    }

    100% {
        @include position($b: 50px, $r: 700px);
    }
}

.active .life-cycle__btns {
    @include visible;
}

.step__popup {
    width: 430px;
    $color-blue: #223051;
    $color-green: #349629;

    & .popup__head {
        padding: 20px 20px 0;
        box-sizing: border-box;
        background-color: $color-blue;
        border-radius: 30px 30px 0 0;

        &>.popup__close {
            @include size($w:54px, $h:64px);
            background-color: $color-blue;
            right: -54px;
            top: 30px;
            border-radius: 0 15px 15px 0;

            &::before,
            &::after {
                @include size($w:35px, $h:2px);
                border-radius: 2px;
            }
        }
    }

    & .popup-head-wrapper {
        @include size($w:100%, $h:60px);
    }

    & .popup__body {
        padding: 0 20px;
        background-color: $color-blue;
        @include position($p:relative, $t:-1px)
    }

    & .tab-stage {
        background-color: #fff;
        padding: 10px;
        border-radius: 0 0 20px 20px;
        @include position($p: relative, $t: -1px);
        height: 360px;
        overflow: hidden;
    }

    & .popup__footer {
        padding: 0 20px 20px;
        border-radius: 0 0 30px 30px;
        background-color: $color-blue;
        @include position($p: relative, $t: -2px);
        text-align: center;
        padding-top: 20px;

        & button {
            background-repeat: no-repeat;
            background-image: url(#{$img-step-path}popup__close.png);
            background-size: contain;
            @include size($w:270px, $h:60px);
            position: relative;
            cursor: pointer;

            &.join {
                background-image: url(#{$img-event-path}event01-popup__join.png);
            }
        }

        &>button::after {
            content: '';
            display: block;
            background: url(../images/common/hand.png) no-repeat;
            @include size($w:73px, $h:86px);
            @include position($p, $t: 20px, $r: -20px);
            animation: 1s eventClick infinite linear forwards;
            transition: $transition;
            transform: initial;
        }

        & .popup__next {
            background-image: url(#{$img-step-path}btn_next.png);
        }
    }

}

.tab-btns {
    @include display($d, $g:0 5px);
    width: 100%;
}

.popup-tab__btn {
    flex: 1 1 50%;
    border-radius: 20px 20px 0 0;
    @include size($w:100%, $h:60px);
    color: #fff;
    background-color: $color-green;
    @include display($d, $ai, $jc:center);
    @include txt($s: 24px, $l: 28px, $w: 600);
    transition: $transition;
    cursor: pointer;

    &.active {
        background-color: #fff;
        color: $color-green;
    }
}

.active .life-cycle__tit {
    display: block;
}

.step-pop {
    &__tit {
        background-color: #fff6ca;
        min-height: 130px;
        padding: 20px 10px;
        box-sizing: border-box;
        @include display($d, $ai, $jc:center,$fd);
        
        &>p {
            @include txt($s:20px, $l:24px, $w:500, $c:#222)
        }
    }

    &__cnt {
        padding: 15px 10px 0;

        &>p {
            padding-left: 20px;
            position: relative;
            @include txt($s:20px, $l:24px);
            margin-bottom: 10px;
            display: block;

            &::before,
            &::after {
                content: '';
                display: block;
                border-radius: 50%;
                @include position($p, $t, $l: 0);
                transform: translateY(-50%);
            }

            &::before {
                background-color: $color-green;
                @include size($w:14px, $h:14px);
            }

            &::after {
                @include size($w:8px, $h:8px);
                background-color: #fff;
                left: 3px;
            }
        }
    }
}

.next {
    &-stage {
        @include hidden;
        height: 0;
        transition: $transition;

        &.active {
            @include visible;
            height: auto;
        }
    }

    &__tit {
        padding-bottom: 20px;
        @include txt($s:36px, $w:700, $c:#fff,$a: center);
    }

    &-wrapper {
        background-color: #fff;
        border-radius: 20px;
        padding: 10px 15px;
        box-sizing: border-box;
        word-break: keep-all;
        @include txt($s:22px,$l: 34px, $c:#222, $a:center);
        height: 360px;
        @include display($d, $ai, $jc:center);
        position: relative;

        &::before,
        &::after {
            content: '';
            display: block;
            @include size($w:30px, $h:20px);
            background-image: url(#{$img-step-path}next_deco.png);
            background-repeat: no-repeat;
            background-size: contain;
            @include position($p);
        }

        &::before {
            @include position($t: 10px, $l: 10px);
        }

        &::after {
            @include position($b: 10px, $r: 10px);
            transform: rotate(180deg);
        }
    }
}

/* 카톡 플친 영역 */
.plus {
    &-stage {
        background-image: url(#{$img-base-path}bg_friend.png);
        height: 873px;
        position: relative;
    }

    &__link {
        background-color: transparent;
        @include size($w:525px, $h:105px);
        @include position($p, $b: 162px, $r: 430px);
        border-radius: 53px;

        &::after {
            @include position($t: 50px, $r: -30px, $z: 5);
        }
    }
}

/* sns 영역 */
.sns {
    &-stage {
        background-color: #444;
        height: 350px;
        @include display($d, $ai, $jc:center,$fd,$g:55px);
    }

    &__list {
        background-image: url(#{$img-base-path}share_icon.png);
        @include size($w:738px, $h:98px);
        margin: 0 auto;
        @include display($d, $jc);
    }

    &__link {
        display: block;
        @include size($w:98px, $h:98px);
        border-radius: 30px;
        cursor: pointer;
    }
}


/* 참여자 */
.visitor {
    &-stage {
        height: 165px;
        @include display($d, $ai, $jc:center);
    }

    &__tit {
        @include txt($s:30px,$w: 600px, $c:#222218);

        &>em {
            font-style: normal;
            @include txt($s:46px,$w: 900px, $c:#ff9102);
        }
    }
}

/* 키워드 영역 */
.keyword-stage {
    background-image: url(#{$img-base-path}bg_keyword.png);
    height: 350px;
}

.typing__txt {
    @include txt($s:36px,$l:36px, $w: 700, $c:#313131);
    border-right: 2px solid #333;
    @include position($p, $t: 170px, $l: -580px);
    animation: typing 5s infinite steps(20);
    white-space: nowrap;
    overflow: hidden;
}

@keyframes typing {
    0% {
        width: 0;
    }

    50% {
        width: 300px;
    }

    100% {
        width: 0;
    }
}