@charset "UTF-8";

/* 공통 */
$color-yellow: #edab1d;
$transition: all .15s ease-in;

$img-base-path :"../images/common/";
@mixin position($p: absolute, $t: 50%, $b: null, $l: 50%, $r: null, $z: null) {
    position: $p;
    top: $t;
    bottom: $b;
    left: $l;
    right: $r;
    z-index: $z;
}

@mixin size($w: 100%, $minW: null, $maxW: null, $h: 100%, $minH: null, $maxH: null) {
    width: $w;
    min-width: $minW;
    max-width: $maxW;
    height: $h;
    min-height: $minH;
    max-height: $maxH;
}

@mixin txt($s: null, $w: null, $l: null, $c: null, $a: null) {
    font-size: $s;
    font-weight: $w;
    line-height: $l;
    color: $c;
    align-items: $a;
}

@mixin display($d:flex, $jc:space-between, $ai: center, $g: null, $fd:column,){
    display: $d;
    justify-content: $jc;
    align-items: $ai;
    gap: $g;
    flex-direction: $fd;
}

@mixin visible {
    opacity: 1;
    visibility: visible;
}
@mixin hide {
    opacity: 0;
    visibility: hidden;
}

@mixin imgPath($img-name) {
    background-image: url(#{$img-base-path}#{$img-name}.png);
    background-repeat: no-repeat;
}

*:focus-visible {
    outline: 2px dotted red;
    outline-offset: -2px;
}

body {
    position: relative;
    transition: $transition;
    font-family: "pretendard", "Nanum Gothic", "Apple SD Gothic Neo", Helvetica, Arial, sans-serif;

    &:has(.dim.active) {
        overflow: hidden;
    }

}

.container {
    min-width: 1200px;
}

.stage {
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    &__tit {
        text-align: center;
    }
}

.dim {
    @include size($w, $h:100%);
    @include position($p:fixed, $z:10);
    @include hidden;
    background-color: #000000cc;
    transition: $transition;

    &.active {
        @include visible;
    }
}


.video-stage {
    position: relative;
    @include size($w, $h:0);
    padding-top: 56.25%;

    &>.video {
        @include position($p, $t:0, $l:0);
        @include size($w, $h:100%);
    }
}


/* header */
.header {
    &-stage {
        @include size($w, $h:5rem);
        background-color: #fff;
        background-position: center;
        background-size: auto;
        @include imgPath(header_tit);
    }

    &__links {
        @include size($w: 547px, $h:37px);
        @include position($p:relative, $t:50%, $l:50%);
        transform: translate(-50%, -50%);
    }

    &__link {
        display: block;
        background-color: transparent;
        @include size($w: 30px, $h:30px);
        position: absolute;

        &.daum {
            @include position($t:0, $l:-5px);
            @include size($w: calc(70px + 10px), $h:calc(30px + 10px));
        }

        &.moe {
            @include size($w: 95px, $h: 36px);
            @include position($t:0, $l:105px);
        }
    }
}


/* quick-menu */

@mixin icon($icon-name) {
    background-image: url(#{$img-base-path}icon_#{$icon-name}.png);
}

.quick-menu {
    &-stage {
        @include position($p:fixed, $z:9, $t:125, $r: 30px);
        @include size($w: 100px, $h: 248px);
        @include imgPath(quick-menu_bg);
    }

    &__lists {
        padding-top: 112px;
        flex-wrap: wrap;
        @include display($d, $g:4px, $jc:center )
    }

    &__icon {
        display: block;
        @include size($w: 38px, $h: 38px);
        border-radius: 50%;

        &.youtube {
            @include icon(youtube);
        }

        &.insta {
            @include icon(insta);
        }

        &.blog {
            @include icon(blog);
        }

        &.facebook {
            @include icon(facebook);
        }

        &.kakao {
            @include icon(kakaostory);
        }

        &.X {
            @include icon(X);
        }
    }
}


/* popup */
.popup {
    @include position($p:fixed, $z:11, $t:50%, $l);
    transform: translate(-50%, -50%);
    @include hidden;

    &.active {
        @include visible;
    }

    &__head {
        @include display($d, $jc:center, $ai);
        position: relative;

        &>p {
            color: #fff;
            @include txt($s:30px, $w:600, $a:center);
        }

        &>.popup__close {
            display: block;
            @include size($w:40px, $h: 40px);
            @include position( $p, $r: -55px, $t: 20px);
            cursor: pointer;
            
            &::before,
            &::after {
                content: '';
                display: block;
                @include size($w, $h: 3px);
                border-radius: 3px;
                background-color: #fff;
                @include position( $p, $l, $t);
            }
        }
    }

    &__body {
        box-sizing: border-box;
    }

    &__footer {
        position: relative;

        & .popup__close.join {
            background-image: url(../images/component/event/event01-popup__join.png);
            width: 317px;
        }
    }

    &__img {
        width: 100%;
    }
}

.popup__close {
    &:before {
        transform: translate(-50%, -50%) rotate(-45deg);
    }

    &::after {
        transform: translate(-50%, -50%) rotate(45deg);
    }
}

.popup-swiper {
    &__btns {
        @include display($d, $jc:center, $ai, $g: 20px);
    }

    &__btn {
        cursor: pointer;
        @include size($w: 70px, $h: 70px);
        border-radius: 50%;
        background-repeat: no-repeat;
        background-size: contain;
        transition: $transition;

        &.prev {
            background-image: url(../images/component/cardNews/cardnews_btn-prev.png);
        }

        &.next {
            background-image: url(../images/component/cardNews/cardnews_btn-next.png);
        }
    }
}

.swiper-button-disabled {
    opacity: .5;
}

/* 푸터 */
.footer {
    &-stage {
        background-color: #eee;
        height: 160px;
        padding-bottom: 100px;
    }

    &-container {
        @include size($w, $maxW: 1300px, $h);
        padding: 0 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 auto;

        &>div p {
            font-size: 15px;

            &+p {
                margin-top: 10px;
            }
        }
    }

    &__right p {
        text-align: right;
    }
}

/* 네비게이션 */
.navi {
    &-stage {
        @include position( $p:fixed, $z: 6,$b: -100%);
        background-color: #1b1c24cc;
        width: 100%;
        transition: all .2s ease-in;
        @include hidden;

        &.active {
            @include visible;
            bottom: 0;
        }
    }

    &-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include size($maxW: 1380px, $w:100%, $h:90px);
        padding: 0 20px;
        margin: 0 auto;

        & .btn {
            background-repeat: no-repeat;
            background-size: contain;
            cursor: pointer;
        }
    }
}

.all-menu {
    &-stage {
        width: 500px;
        background-color: #263E99;
        @include position($p, $l:0, $b:-100%);
        padding: 15px 30px 0;
        box-sizing: border-box;
        transition: all .2s ease-in;
        @include hidden;

        &.active {
            @include visible;
            bottom: 0;
        }
    }

    &__btn {
        @include size($w:70px,$h: 36px);
        @include imgPath(allmenu);
    }

    &__close {
        background-color: #999;
        @include size($w: 45px,$h: 45px);
        border-radius: 5px;
        @include position($p, $r:20px, $z:1);
        cursor: pointer;

        &::before,
        &::after {
            content: '';
            display: block;
            background-color: #fff;
            @include size($w: 5px,$h: 30px);
            border-radius: 5px;
            @include position($p, $l:50%, $t:50%);
        }

        &::before {
            transform: translate(-50%, -50%) rotate(-45deg);
        }

        &::after {
            transform: translate(-50%, -50%) rotate(45deg);
        }
    }

    &__list {
        margin-top: 45px;
    }

    &__link {
        display: flex;
        align-items: center;
        color: #fff;
        padding: 20px;
        @include txt($s:22px, $l:32px);
        height: 112px;
        box-sizing: border-box;
        transition: all .2s ease-in;

        &:hover {
            background-color: #3c52a3;
        }

        &+.all-menu__link {
            border-top: 2px solid #fff;
        }
    }
}

.event__btns {
    display: flex;
    gap: 10px;
}

.event__btn {
    @include size($w: 570px, $h:73px);
    border-radius: 37px;

    &.event01 {
        @include imgPath(nav01_result);
    }

    &.event02 {
        @include imgPath(nav02_result);
    }
}

.top__btn {
    @include imgPath(top);
    @include size($w: 70px, $h:70px);
    border-radius: 50%;
}

// 공통 애니
.click__ani::after {
    content: '';
    display: block;
    background-image: url(../images/common/hand.png);
    @include size($w: 73px, $h:86px);
    position: absolute;
    animation: 1s zoomClick infinite linear forwards;
    background-color: transparent;
}